{
  "extends": ["@remix-run/eslint-config", "@remix-run/eslint-config/node","plugin:import/recommended"],  
  "plugins": [
    "import"
  ],
  "rules": {
     "import/order": [
      2,
      {
        "groups": [["builtin", "external"], "internal", "parent", ["index", "sibling"]],
        "newlines-between": "always",
        "alphabetize": {
          "order": "asc",
          "caseInsensitive": true
        },
        "pathGroupsExcludedImportTypes": ["builtin"],
        "pathGroups": [
          {
            "pattern": "react",
            "group": "builtin",
            "position": "before"
          },
          {
            "pattern": "~/**",
            "group": "internal"
          },
          {
            "pattern": "utils/**",
            "group": "internal",
            "position": "after"
          }
        ]
      }
    ]
  }
}
