.formContainer {
  display: flex;
  flex-direction: column;
}

.arrow {
  font: 1.6rem sans-serif;
  align-self: center;
  padding: 0.5em 0em;
  transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  border: 1 solid black;
  margin: 0.5em;
}

.arrow:hover {
  color: brown;
}

@media only screen and (min-width: 768px) {
  .formContainer {
    display: flex;
    flex-direction: row;
  }

  .arrow {
    padding: 0em 0.5em;
    transform: none;
    -webkit-transform: none;
    -moz-transform: none;
  }
}

select {
  width: 50%;
  flex: 1;
}

input[type=number], select {
  border-radius: 0em;
  border-color: black;
  border-width: 1px;
  border-style: solid;
  text-align: center;
  box-sizing: border-box;
  background-color: #ececec;
  padding: 0.5em;
}

input[type=number] {
  /*font: 1.3rem sans-serif;*/
  width: 100%;
  -moz-appearance: textfield;
  margin-bottom: 10px;
}

input[type=number]:disabled {
  background-color: lightgray;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

@media only screen and (min-width: 768px) {

  input[type=number] {
    font: 1.3rem sans-serif;
    width: 100px;
    -moz-appearance: textfield;
    margin-right: 10px;
    margin-bottom: 0px;
  }

  select {
    width: 100%;
  }
}

